@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-family:'Oswald', sans-serif ;
}

/*---------- PANTALLA DE INICIO-------------- */

.inicio{
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPrincipal{
    font-size: 60px;
    color: rgb(43, 255, 0);
}

.btnComenzar{
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 15px;
}

/* -------PANTALLA DE REGISTRO---------------- */


.registro{
    background-color:rgb(76, 199, 236);
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 50%;
    display: flex;
    /* display: none; */
    flex-direction: column;
}
.divRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    /* width: 100%; */
}
.nombre{
    font-size: 20px;
    margin: 10px;
}

.inputUsuario{
    font-size: 20px;
    border-radius: 5px;
    border: none;  
    padding: 5px; 
    text-align: center;
    width:100% ;
}

.h4Registro{
    text-align: center;
}


/* -----------PANTALLA DE PREGUNTAS ----------------- */

.tablero{
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reloj{
    color:yellow;
    width: 30px;
    height: 30px;
    border: 2px solid yellow;
    border-radius: 50%;
    text-align: center;
}

.cajaPregunta{
   width: 50vw;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   border: 2px solid #000;
   border-radius: 10px;
   margin: 10px;
   padding: 10px;
   text-align: center;
   font-size: 20px;
}

.cajaPregunta img{
 
    height: 100px;
    margin-top: 20px;
}

.correcto{
    margin: 10px;  
}
.opcion{
    width: 30vw;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
    cursor: pointer;
}


/* -------PANTALLA PUNTUACION FINAL------------- */

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color:rgb(76, 199, 236) ;
    border: 2px solid #000;
    border-radius: 10px;
}

.puntos{
    text-align: center;
    margin: 10px;
}
.tablaPuntos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    margin: 10px;
}

.msj{
    color: #f00;
    font-weight: bold;
}

.msjNombre{
    text-align: center;
}
.msjPuntos{
    text-align: center;
    width: 80px;
}

.reinicio{
    margin: 20px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}


/* -----------------@MEDIA-------------------------- */

@media(max-width: 576px){
    .tituloPrincipal{
        font-size: 45px;
    }

    .registro{
        width: 85%;  
    }

    .cajaPregunta img{
        height: 60px;
        margin-top: 5px;
    }
    .cajaPregunta{
        font-size: 18px;
        padding: 5px;
    }
}

@media(max-width: 767px){
    .cajaPregunta{
        width: 80vw;
     }
   
     .opcion{
        width: 60vw;
    }

    .final{
        width: 80%;
    }
}